<style>
  
  body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  h1 {
    text-align: center;
    background-color: #d3d3d3; 
    color: #333;               
    padding: 20px;            
    border-radius: 8px;       
    max-width: 600px;          
    margin: 20px auto;         
}

  h1, h2, h3 {
    text-align: center;
  }

 
  p {
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 1.6; 
  }

  img {
    display: block;     
    margin-left: auto;   
    margin-right: auto;  
    max-width: 100%;     
    height: auto;        
    border-radius: 10px;
  }
</style>

